[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = :coffee: :ghost: Run client-side mocha tests in the command line through phantomjs
[access "refs/*"]
	owner = group user/一头母猪 (huoxiaolong)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/一头母猪 (huoxiaolong)
	label-Verified = -1..+1 group user/一头母猪 (huoxiaolong)
	push = group user/一头母猪 (huoxiaolong)
	read = group user/一头母猪 (huoxiaolong)
	rebase = group user/一头母猪 (huoxiaolong)
	removeReviewer = group user/一头母猪 (huoxiaolong)
	submit = group user/一头母猪 (huoxiaolong)
[access "refs/heads/*"]
	create = group user/一头母猪 (huoxiaolong)
	push = +force group user/一头母猪 (huoxiaolong)
	pushMerge = group user/一头母猪 (huoxiaolong)
	read = group user/一头母猪 (huoxiaolong)
[access "refs/tags/*"]
	push = group user/一头母猪 (huoxiaolong)
	push = +force group user/一头母猪 (huoxiaolong)
